:root {
    --sidebar-bg: #fff;
    --white-color: #f4f5f0;
    --sidebar-a-color: #eceded;
    --font-color: #0e0c0a;
    --box-shadow: rgba(5, 3, 1, 0.15);
    --box-shadow-strong: rgba(5, 3, 1, 0.5);
    --card-bg: #fdfcfc;
    --border-color: rgba(5, 3, 1, 0.2);
    --hover-button-bg: #27251f;
}

header{
    position: fixed;
    left: 229px;
    top: 0;
    margin: 1rem;
    margin-bottom: 14px;
    padding: 14px;
    border-radius: 8px;
    background-color: var(--sidebar-bg);
    box-shadow: 0 2px 4px var(--box-shadow-strong);
    border: 1px solid var(--border-color);
    width: 77%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
}

header .profile{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

header .profile .notification{
    font-size:1.3rem;
    padding: 4px;
    border: 1px solid var(--color-indigo-300);
    background-color: var(--color-indigo-100);
    border-radius: 8px;
    cursor: pointer;
    color: var(--color-indigo-500);
    position: relative;
}


header .profile .notification::after {
    content: attr(data-count);
    position: absolute;
    top: -6px;
    right: -6px;
    background-color: var(--color-gray-100);
    color: var(--color-indigo-500);
    font-size: 0.7rem;
    font-weight: bold;
    border-radius: 6px;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-indigo-100);
    box-shadow: 0 1px 4px rgba(0,0,0,0.15);
    pointer-events: none;
    z-index: 100;
}


header .profile img{
    width: 40px;
    height: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
}

.main-content {
    position: fixed;
    left: 229px;
    top: 0;
    margin: 1rem;
    margin-top: 5.5rem;
    border-radius: 10px;
    padding: 20px;
    width: 77%;
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    transition: left 0.8s ease, width 0.3s ease;
    z-index: 10;
}

.main-content::-webkit-scrollbar {
    width: 2px;
}

.main-content::-webkit-scrollbar-track {
    border-radius: 10px;
}

.main-content::-webkit-scrollbar-thumb {
    background: #ebebeb;
    border-radius: 10px;
}

h1 {
    font-size: 1.3rem;
    font-weight: 700;
    color: #2c3e50;
}

.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    background-color: var(--card-bg);
    border: 1px solid var(--border-color);
    box-shadow: 0 4px 6px #d1d2d2;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px #b0b0b0;
}

.card h3 {
    margin-bottom: 8px;
    color: #2c3e50;
    font-size: 1.05rem;
    font-weight: 500;
    text-align: left;
}

.card .span-section{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 8px;
    padding-left: 30px;
}

.card .span-section img{
    width: 65px;
    height: 65px;
    margin-left: -10px;
    object-fit: cover;
    aspect-ratio: 1/1;   
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.card .span-section img:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.card p{
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.card p span{
    display: flex;
    flex-direction: row;
    font-weight: 500;
    font-size: 0.9rem;
}

.card p span .span2{
    margin-left: 10px;
    font-size: clamp(0.75rem, 1.8vw, 0.9rem);
    color: #06c154;
    border-bottom: 1px solid #b0b0b0;
}

.card button {
    margin-top: 5px;
    border: 1px solid var(--border-color);
    color: var(--font-color);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-weight: 600;
    background: var(--color-gray-100);
    transition: background-color 0.3s ease;
}

.card button:hover {
    background-color: var(--color-gray-200);
}

/* Appointment List */
#appointment-list {
    list-style: none;
    margin-top: 20px;
    transition: transform 0.3s ease;
}

#appointment-list:hover{
    transform: scale(1.01);
}

#appointment-list li {
    padding: 10px;
    background-color: #ecf0f1;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #a9cee6;
}

#appointment-list li button {
    background-color: #e74c3c;
    padding: 5px;
    width: 110px;
    height: 30px;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#appointment-list li button:hover {
    background-color: #c0392b;
}

#appointment-form{
    width: 100%;
    border: solid;
    display: flex;
    justify-content: center;
}

#appointment-form .date-time {
    border: solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    place-items: center;
}

#appointment-form .date-time .input{
    display: flex;
    flex-direction: column;
}
